@use '../util' as u;

.product {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--color-white);
    border-radius: u.rem(10);
    overflow: hidden;
    max-width: u.rem(600);
    min-width: u.rem(375);

    @media (min-width: 600px){
        grid-template-columns: 1fr 1fr;
    }

    &__content {
        display: grid;
        padding:u.rem(20);
        
        @media (min-width: 600px){
            padding:u.rem(30);
        }
    }

    &__category {
        font-size: u.rem(12);
        text-transform: uppercase;
        letter-spacing: u.rem(4);
    }

    &__title {
        font-family: u.$primary-font;
        font-size: u.rem(32);
        color: var(--color-black);
        line-height: 1.1;
        margin-block-end: u.rem(16);
    }

    &__desc {
        font-size: u.rem(14);
        line-height: 1.5;
        
    }

    &__price {
        display: flex;
        flex-wrap: wrap;
        gap: u.rem(16);
        align-items: center;
        
        &__discount {
            font-family: u.$primary-font;
            font-size: u.rem(32);
            font-weight: u.$fw-bold;
            color: var(--color-accent);
            margin-block: 0;

        }

        &__original {
            font-size: u.rem(10);
            margin-block: 0;
        }
    }

    &__btn {
        margin-top: u.rem(15);
        cursor: pointer;
        font-family: u.$base-font;
        font-weight: u.$fw-bold;
        background-color: var(--color-accent);
        color: var(--color-white);
        text-decoration: none;
        padding:u.rem(15) ;
        border: none;
        border-radius: u.rem(5);
        gap: u.rem(10);
        display: inline-flex;
        justify-content: center;
        align-items: center;
    
        
        &:is(:hover, :focus) {
            background-color: var(--color-highlight);
        }

        &[data-icon="shopping-cart"]::before {
            content: "a";
            background-image: url("../../images/icon-cart.svg");
            width: u.rem(15);
            height: u.rem(16);
           
        }
        
    }
    


}





.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}